<!-- Step 9 Using ejs-mate ( commented part ) -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head> -->


<!-- Step 9 - except for body all other code is in boilerplate -->
<% layout("/layouts/boilerplate") %>

<body>

    <!-- Step 14 -->
    <div class="row col-8 offset-2">

        <!-- <div class="col-8 offset-2"> -->

            <h3 class="mt-3">Edit your Listing</h3>

            <!-- Step 16 - add validations = required & "needs-validation" class / Step 51 - enctype -->
            <form action="/listings/<%= listing.id %>?_method=PUT" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
    
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" class="form-control" value="<%= listing.title %>" type="text" required>

                    <!-- Step 17 -->
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Invalid Title</div>
                </div>

 
                <select name="listing[category]" class="form-select mb-3" required><!-- Step 53 -->
                    <option selected>Select Category...</option>
                    <option value="mountains">Mountains</option>
                    <option value="farms">Farms</option>
                    <option value="cabins">Cabins</option>
                    <option value="beach">Beach</option>
                    <option value="castles">Castles</option>
                </select>

                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>

                    <!-- Step 17 -->
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Invalid Description</div>
                </div>
                
                <div class="mb-3"><!-- Step 51 - preview image -->
                    <img class="show-img" src="<%= previewUrl %>">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input name="listing[image]" class="form-control" type="file"><!-- Step 51 - type -->

                    <!-- Step 17 -->
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Invalid Image</div>
                </div>
        
                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" class="form-control" value="<%= listing.price %>" type="number" required>

                        <!-- Step 17 -->
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">Invalid Price</div>
                    </div>
            
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" class="form-control" value="<%= listing.country %>" type="text" required>

                        <!-- Step 17 -->
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">Invalid Country</div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" class="form-control" value="<%= listing.location %>" type="text" required>

                    <!-- Step 17 -->
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Invalid Location</div>
                </div>
                       
                <button class="btn btn-dark mb-3 edit-btn">Edit</button>
        
            </form>

        <!-- </div> -->

    </div>

    <!-- Step 7 -->

    <!-- <form action="/listings/<%= listing.id %>?_method=PUT" method="post">
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br><br>
        <textarea name="listing[description]"><%= listing.description %></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%= listing.image %>">
        <br><br>
        <input type="number" name="listing[price]" value="<%= listing.price %>">
        <br><br>
        <input type="text" name="listing[location]" value="<%= listing.location %>">
        <br><br>
        <input type="text" name="listing[country]" value="<%= listing.country %>">
        <br><br>
        <button>Edit</button>
    </form> -->
    
</body>

<!-- Step 9 -->

<!-- </html> -->