<!-- Step 9 Using ejs-mate ( commented part ) -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head> -->


<!-- Step 9 - except for body all other code is in boilerplate -->
<% layout("/layouts/boilerplate") %>

<!-- Step 52 - script tag only-->
<script> 
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const listing = <%- JSON.stringify(listing) %>;
</script>

<body>

    <!-- Step 15 -->
    <div class="row col-8 offset-2 mt-3 mb-3">

        <h3 class="offset-2"><%= listing.title %></h3>

        <div class="card listing-card col-6 offset-2">
            <img class="card-img-top show-img mb-3" src="<%= listing.image.url %>" alt="listing_image">

            <div class="card-body">
                <p class="card-text">Owned by <i><%= listing.owner.username %></i></p><!-- Step 45 owner -->
                <p class="card-text">Category: <i><%= listing.category %></i></p><!-- Step 53 Category -->
                <p class="card-text"><%= listing.description %></p>
                <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %> / night</p>
                <p class="card-text"><%= listing.location %></p>
                <p class="card-text"><%= listing.country %></p>
            </div>
        </div>

        <!-- Step 46 - if condition -->
        <% if(currUser && currUser._id.equals(listing.owner._id)) { %>

            <div class="btns offset-2 mb-3">

                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit</a>
        
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                    <button class="btn btn-dark delete-btn">Delete</button>
                </form>
    
            </div>

        <% } %>


        <!-- Step 25 & Step 27 -->
        <div class="row col-8 offset-2 mt-3">


            <!-- Step 47 - if condition -->
            <% if(currUser) { %>
                
                <hr>
                <h4>Leave a Review</h4>

                <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>

                    <!-- <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" class="form-range" name="review[rating]" id="rating" min="1" max="5">
                    </div> -->


                    <!-- Step 50 -->
                    <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <fieldset class="starability-slot">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
    
                    <div class="mb-3 mt-3">
                        <label for="comment">Comments</label>
                        <textarea name="review[comment]" class="form-control" id="comment" cols="30" rows="5" required></textarea>
                    </div>
    
                    <!-- Step 27 -->
                    <div class="invalid-feedback">Some Texts are Required</div>
    
                    <button class="btn btn-outline-dark">Submit</button>
    
                </form>

            <% } %>



            <!-- Step 29
            <h4>All Reviews</h4>

            <ul>
                <% for(review of listing.reviews) { %>
                    
                    <li><%= review.comment %> , <%= review.rating %> stars</li>
                    
                <% } %>    
            </ul> -->

            <!-- Step 30 -->
            <% if(listing.reviews.length > 0) { %>

                <div class="row">

                    <div class="mt-3 mb-3">
                        <hr>
                        <p><b>All Reviews</b></p>
                    </div>
        
                    <% for(review of listing.reviews) { %>
                        
                        <div class="card col-5 ms-3 mb-3">
                            <div class="card-body mb-1">
                                <h5 class="card-title"><%= review.author.username %></h5>
                                <!-- <p class="card-text"><%= review.rating %> stars</p> -->
                                <!-- Step 50 -->
                                <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                                <p class="card-text"><%= review.comment %></p>
                            </div>

                            <!-- Step 47 - if condition -->
                            <% if(currUser && currUser._id.equals(review.author._id)) { %>

                                <!-- Step 31 -->
                                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3" method="post">
                                    <button class="btn btn-sm btn-dark">Delete</button>                            
                                </form>

                            <% } %>
                            
                        </div>
        
                    <% } %>  

                </div>

            <% } %>

        </div>

        <!-- Step 52 -->
        <div class="col-8 offset-2 mt-2 mb-3">
            <h3>Where you'll be</h3>
            <div id="map"></div>
        </div>

    </div>


    <!-- Step 5 -->
    <!-- <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li><%= listing.image %></li>
        <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
        <li><%= listing.location %></li>
        <li><%= listing.country %></li>
    </ul> -->

    <!-- Step 7 -->
    <!-- <a href="/listings/<%= listing._id %>/edit">Edit</a> -->

    <!-- Step 8 -->
    <!-- <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form> -->

    <!-- Step 52 -->
    <script src="/js/map.js"></script>
    
</body>

<!-- Step 9 -->
<!-- </html> -->
